@charset "utf-8";
/* modal config */
.window {
	position:absolute;
	left:0;
	top:0;
	width:607px;
	height:382px;
	display:none;
	z-index:9999;
}

#mask {
	position:absolute;
	left:0;
	top:0;
	z-index:9000;
	background-color:#000;
	display:none;
}